<h2>Ejemplo Servicios</h2>

<div style="background-color: red;">
	<h2>Ejemplo Servicios</h2>
	<app-header-tienda></app-header-tienda>
	<br />

	<select [ngModel]="moneda" 
		(ngModelChange)="moneda_onChange($event)">
		<option ngValue="MXP">MXP - Pesos Mexicanos</option>
		<option ngValue="USD">USD - Dólares USA</option>
		<option ngValue="CAN">CAN - Dólares Canadiendes</option>
		<option ngValue="EUR">EUR - Euro</option>
	</select>
</div>

